*{
    margin: 0;
    font-family: 'Lobster', cursive;
}

body{
    background-image: url(https://avatars.mds.yandex.net/i?id=bc7ecf8bd67d437fa6d02ad74c6c7de61be8d29d-3855076-images-thumbs&n=13);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

header{
    background-color: #00a2ff;
    width: 100%;
    height: 150px;
    float: left;
}

.name{
    float: left;
}
#logo{
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;
}

nav{
    float: right;
    display: flex;
    margin: 20px;
}

.nav-link{
    padding-left:30px ;
    font-size: 25px;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: #8ad0ff;
}

.tablic{
    width: 80%;
    margin: auto;
     border: 1px solid grey;
     background-color: #fff;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
}

.chet{
    background: #1d32a7;
}

footer{
    background-color: #00a2ff;
    width: 100%;
    height: 150px;
    float: left;
}
